.container{
    width: 50%;
    margin: 50px auto;
    border: 5px double black;
    padding: 20px;
    box-shadow:5px 10px 8px 7px #888888;
}
.container h1{
    text-align: center;
    margin-bottom: 50px;
}
span{
    color:red
}
button{
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
}
a{
    text-decoration: none;
}
.localStorageContainer{
    border: 1px solid black;
    padding: 40px 20px 50px;
    box-shadow:5px 10px 8px 7px #888888;
    margin: 70px auto;
    width: 50%;
    text-align: center;
}
#result{
    font-size: 20px;
    line-height: 2;
}